---
import type { Entry } from "contentful";
import type { TypeServicesPageSkeleton } from "@/types/contentful";
import ArrowsBackground from "../_components/ArrowsBackground";
import { Image } from "astro:assets";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

interface Props {
  data: Entry<TypeServicesPageSkeleton, "WITHOUT_UNRESOLVABLE_LINKS", string>;
}

const { data } = Astro.props;
const banner = data.fields.servicesBanner;
const cards = data.fields.serviceCards;
---

<div>
  <ArrowsBackground client:only />
  <section class="p-8 md:p-20">
    <div
      class="w-full flex gap-4 md:gap-8 justify-center items-center flex-wrap"
    >
      <h1 class="text-2xl md:text-5xl">Prepare</h1>
      <div class="w-3 h-3 bg-primary rounded-full"></div>
      <h1 class="text-2xl md:text-5xl">Plan</h1>
      <div class="w-3 h-3 bg-primary rounded-full"></div>
      <h1 class="text-2xl md:text-5xl">Propel</h1>
    </div>
    <p
      class="py-4 md:py-12 max-w-screen-md m-auto text-lg md:text-2xl font-light text-justify md:leading-relaxed"
    >
      Using our Trademarked best practice of <span
        class="italic text-primary font-medium">Prepare, Plan, Propel(™)</span
      >, we work with your social enterprise to help you build your business to
      get funding ready, position your business for the right opportunities, and
      execute strategy to raise funding.  Our best practice is tailored to fit
      any step of the journey your business is on, ensuring you have a trusted
      support system every step of the way.
    </p>
  </section>

  <section
    class="max-w-screen-lg flex md:flex-row flex-col gap-8 m-auto px-8 items-center"
  >
    <div class="flex-1 order-2 md:order-1">
      <h3 class="text-primary py-4 md:text-3xl text-xl font-medium">
        {banner?.fields.heading}
      </h3>
      <p class="font-light">{banner?.fields.subHeader}</p>
    </div>
    <div class="flex-1 rounded shadow-lg order-1 md:order-2">
      <Image
        src={banner?.fields.backgroundImage?.fields.file?.url ?? ""}
        alt={banner?.fields.backgroundImage?.fields.title ?? ""}
        width={banner?.fields.backgroundImage?.fields.file?.details.image
          ?.width ?? 400}
        height={banner?.fields.backgroundImage?.fields.file?.details.image
          ?.height ?? 800}
        class="object-cover h-full rounded"
      />
    </div>
  </section>

  <section
    class="flex justify-center mt-4 p-4 md:p-8 md:py-24 gap-8 md:flex-row flex-col flex-wrap"
  >
    {
      cards.map((card) => (
        <div class="h-fit md:max-w-96 p-4 border border-border rounded bg-background ">
          <div class="flex gap-4">
            <div class="h-20 w-20 p-2 bg-primary rounded">
              <Image
                class="object-contain h-full"
                src={card?.fields.icon?.fields.file?.url ?? ""}
                alt={card?.fields.icon?.fields.title ?? ""}
                width={100}
                height={100}
              />
            </div>
            <div class="flex-1">
              <h3 class="text-2xl font-medium mb-1">{card?.fields.title}</h3>
              <p class="text-sm font-light">{card?.fields.description}</p>
            </div>
          </div>

          <div class="my-4 bg-border h-[1px] w-11/12 mx-auto" />

          <div>
            {card?.fields.dynamicContent && (
              <article
                set:html={documentToHtmlString(card?.fields.dynamicContent)}
                class="card-dynamic"
              />
            )}
          </div>
        </div>
      ))
    }
  </section>
</div>

<style is:global>
  .card-dynamic > p {
    margin: 24px 0px;
  }
</style>
