---
import PrepareIcon from "@/assets/icons/prepare.svg";
import PlanIcon from "@/assets/icons/plan.svg";
import PropelIcon from "@/assets/icons/propel.svg";
import ArrowImage from "@/assets/shapes/arrow_ppp.svg";
import { Image } from "astro:assets";
import HowWeHelpCard from "./how_we_help_card.astro";
import type { Entry } from "contentful";
import type {
  TypeGeneralCardSkeleton,
  TypeStackSkeleton,
} from "@/types/contentful";

interface Props {
  howWeHelp:
    | Entry<TypeStackSkeleton, "WITHOUT_UNRESOLVABLE_LINKS", string>
    | undefined;
}

const { howWeHelp } = Astro.props;
const subjectMatterCards =
  (howWeHelp?.fields.cards as (
    | Entry<TypeGeneralCardSkeleton, "WITHOUT_UNRESOLVABLE_LINKS", string>
    | undefined
  )[]) ?? [];
---

<section class="max-w-screen-lg py-10 md:py-12 px-4 m-auto">
  <div class="md:flex justify-between">
    <h1
      class="text-xl md:text-4xl text-lin font-medium md:whitespace-nowrap mr-16 leading-loose"
    >
      How We Help
    </h1>
    <p class="text-sm md:text-[1rem]">
      Our practice of  Prepare, Plan, Propel(™) guides agencies beyond mere
      competition for funding to yield truly sustainable and scalable impact.
    </p>
  </div>

  <div class="pt-8 md:pt-16 pb-24 w-full">
    <div class="gap-4 m-auto relative">
      <Image
        alt="Arrow SVG"
        src={ArrowImage}
        class="md:static absolute -z-10 top-12 right-6 md:right-0"
      />
      <div class="text-white flex flex-col gap-4">
        <HowWeHelpCard
          icon={PrepareIcon}
          positionStyles="bg-[#517B80] bottom-[14rem] left-40 md:w-[calc(100%-10rem)]"
          title="1. Prepare"
          body="Lay the groundwork through research and engagement"
          lineWidth="w-5/6"
        />
        <HowWeHelpCard
          icon={PlanIcon}
          positionStyles="bg-primary bottom-[7rem] left-24 md:w-[calc(100%-6rem)]"
          title="2. Plan"
          body="Transform insights into actionable strategies"
          lineWidth="w-2/3"
        />
        <HowWeHelpCard
          icon={PropelIcon}
          positionStyles="bg-[#93B9BE] bottom-0 left-8 md:w-[calc(100%-2rem)]"
          title="3. Propel"
          body="Seamlessly and efficiently implement your deliverables."
          lineWidth="w-1/2"
        />
      </div>
    </div>
  </div>

  <div class="py-24">
    <h2
      class="text-xl md:text-3xl md:mb-8 mb-4 text-primary font-medium md:whitespace-nowrap text-center"
    >
      Strategic Solutions for Impactful Initiatives
    </h2>
    <p class="font-semibold text-lg mb-4">
      {howWeHelp?.fields.text}
    </p>
    <p class="text-lg">
      {howWeHelp?.fields.text2}
    </p>
  </div>

  <div class="py-12 sm:py-24">
    <div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-xl">
        <h2
          class="text-pretty text-3xl font-semibold tracking-tight text-primary sm:text-4xl"
        >
          Subject Matter Expertise
        </h2>
        <p class="mt-6 text-lg/8 text-gray-600">
          Our subject matter expertise spans the systems and services that make
          communities thrive: If it touches public life, we’re ready to dig in.
        </p>
      </div>
      <ul
        role="list"
        class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        {
          subjectMatterCards.map((card) => (
            <li>
              <div class="flex items-center gap-x-6">
                <Image
                  width={80}
                  height={80}
                  alt="subject matter icon"
                  src={card?.fields.icon?.fields.file?.url ?? ""}
                />
                <div>
                  <h3 class="text-base/7 font-semibold tracking-tight">
                    {card?.fields.description}
                  </h3>
                </div>
              </div>
            </li>
          ))
        }

        <!-- More people... -->
      </ul>
    </div>
  </div>
</section>
