---
import MainHeader from "./header";
import LogoImage from "../../assets/logos/Boules-Consulting-Logo.svg";
import BackgoundLogo from "../../assets/logos/Boules-Consulting-Logo-Big.svg";
import { Image } from "astro:assets";

const { title } = Astro.props;
const curPath = new URL(Astro.url).pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css"
    />

    <title>{title}</title>
  </head>
  <body>
    <MainHeader curPath={curPath} client:load>
      <div class="flex items-center gap-2">
        <Image src={LogoImage} class="h-12 w-12" alt="Boules Consulting Logo" />
        <h1 class="font-medium text-xl text-primary">Boules Consulting</h1>
      </div>
    </MainHeader>
    <slot />
    <Image
      class="fixed top-0 left-0 right-0 bottom-0 w-screen max-w-7xl m-auto opacity-[0.03] -z-50 rotate-45"
      src={BackgoundLogo}
      alt="Large Background Logo"
    />
  </body>
</html>
