---
import "@/styles/globals.css";
import { contentfulClient } from "../lib/contentful";
import type { TypeHomePageSkeleton } from "../types/contentful";
import MainLayout from "@/components/layouts/main-layout.astro";
import Hero from "./_components/hero.astro";
import BelowHero from "./_components/below_hero.astro";
import HowWeHelp from "./_components/how_we_help/index.astro";
import Testimonials from "./_components/testimonials/index.astro";
import OurCustomers from "./_components/our_customers/index.astro";
import Impact from "./_components/impact/index.astro";

const homePage =
  await contentfulClient.withoutUnresolvableLinks.getEntries<TypeHomePageSkeleton>(
    {
      content_type: "homePage",
      include: 3,
    },
  );
const homeFields = homePage.items[0].fields;
---

<MainLayout title="Home - Boules Consulting">
  <main>
    <Hero banner={homeFields.homeBanner} />
    <Impact />
    <BelowHero belowHero={homeFields.belowHero} />
    <HowWeHelp howWeHelp={homeFields.howWeHelpStack} />
    <Testimonials testimonials={homeFields.testimonialSlides} />
    <OurCustomers images={homeFields.carouselImages?.fields.images} />
  </main>
</MainLayout>
