---
import { NAV_MAP } from "@/lib/nav_schema";
import MailchimpForm from "./MailChimpForm";
import ContactUsForm from "./ContactUsForm";
import { Separator } from "@/components/ui/separator";
import { Phone, Mail, Linkedin, Instagram, Facebook } from "lucide-react";
import BoulesConsultingLogoWhite from "@/assets/logos/Boules-Consulting-Logo-White.svg";
import { Image } from "astro:assets";
---

<div>
  <!-- Contact Form -->
  <section id="contact-form" class="p-4 w-full max-w-screen-lg m-auto mb-24">
    <div
      class="flex flex-col gap-4 md:flex-row border border-border bg-white shadow rounded p-4 md:py-12 md:px-8"
    >
      <div class="flex-1">
        <h4 class="font-light text-lg">REACH OUT TO US</h4>
        <h2 class="font-medium text-2xl pt-8">We Help People Help People!</h2>
        <div class="w-2/5 h-0.5 bg-primary my-4"></div>
        <p class="font-light text-sm pr-4">
          Are you ready to scale your impact? Tell us about your organization
          and how we can help you, and a member of our team will reach out to
          you shortly to see how we can help you achieve your goals!
        </p>
        <a
          class="flex items-center gap-2 hover:underline pt-8 group transition-all"
          href="mailto: info@boulesconsulting.org"
        >
          <Mail
            size={32}
            className="bg-secondary text-primary p-1 rounded group-hover:bg-primary group-hover:text-white"
          />
          info@boulesconsulting.org
        </a>
        <a
          class="flex items-center gap-2 hover:underline pt-4 group transition-all"
          href="tel:+18185992692"
        >
          <Phone
            size={32}
            className="bg-secondary text-primary p-1 rounded group-hover:bg-primary group-hover:text-white"
          />
          +1 (818)-599-2692
        </a>
      </div>
      <div class="flex-1">
        <ContactUsForm client:load />
      </div>
    </div>
  </section>

  <!-- Bottom Footer -->
  <footer class="bg-primary p-8 text-primary-foreground">
    <div
      class="max-w-screen-xl m-auto grid md:grid-cols-2 grid-cols-1 lg:grid-cols-4 gap-12 lg:gap-4"
    >
      <!-- mailchimp section  -->
      <div>
        <h2 class="text-2xl text-center">Subscribe Today!</h2>
        <Separator className="mt-2 w-4/5 mx-auto" />

        <MailchimpForm client:load />
      </div>

      <!-- useful links section -->
      <div>
        <h2 class="text-2xl text-center">Useful Links</h2>
        <Separator className="mt-2 w-4/5 mx-auto" />

        <nav>
          <ul class="p-4 text-center flex flex-col gap-4">
            <li>
              <a class="hover:underline" href={NAV_MAP.governmentAgencies}>
                Government Agencies
              </a>
            </li>
            <li>
              <a class="hover:underline" href={NAV_MAP.socialEnterprises}>
                Social Enterprises
              </a>
            </li>
            <li>
              <a href={NAV_MAP.governmentAgencies} class="hover:underline">
                About Us
              </a>
            </li>
            <li>
              <a href={NAV_MAP.governmentAgencies} class="hover:underline">
                Resources
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- contact section -->
      <div>
        <h2 class="text-2xl text-center">Get In Touch</h2>
        <Separator className="mt-2 w-4/5 mx-auto" />

        <div>
          <a
            class="flex gap-2 hover:underline justify-center py-10"
            href="mailto: info@boulesconsulting.org"
          >
            <Mail />
            info@boulesconsulting.org
          </a>

          <div class="flex gap-4 justify-center items-center">
            <a href="https://www.facebook.com/boulesconsulting/">
              <Facebook size={40} />
            </a>
            <a
              href="https://www.linkedin.com/company/mission501/?fbclid=IwAR3vpYgenaF2PuzfW38TEuHWausv4IYeEyqMhFvEdmOARGwn8LE2G7yG4mc"
            >
              <Linkedin size={40} />
            </a>
            <a href="https://www.instagram.com/boules_consulting/?hl=en">
              <Instagram size={40} />
            </a>
          </div>
        </div>
      </div>

      <!-- logo -->
      <div class="flex justify-center items-center">
        <Image
          src={BoulesConsultingLogoWhite}
          alt="White Boules Consulting Logo"
        />
      </div>
    </div>
    <div class="w-full text-center">
      <div class="w-full bg-border h-[1px] mt-8 mb-2"></div>
      <h5 class="font-extralight">Boules Consulting © 2024</h5>
    </div>
  </footer>
</div>
