---
import type { TypeTestimonialSlideSkeleton } from "@/types/contentful";
import type { Entry } from "contentful";

interface Props {
  testimonials:
    | (
        | Entry<
            TypeTestimonialSlideSkeleton,
            "WITHOUT_UNRESOLVABLE_LINKS",
            string
          >
        | undefined
      )[]
    | undefined;
}

const { testimonials } = Astro.props;

if (!testimonials) return;

const firstTestimonial = testimonials[0];
const secondTestimonial = testimonials[1];
---

<section class="py-16 sm:py-8">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="flex flex-col pb-10 sm:pb-16 lg:pb-0 lg:pr-8 xl:pr-20">
        <img
          class="h-28 self-start"
          src={firstTestimonial?.fields.image?.fields.file?.url}
          alt=""
        />
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg/8 text-gray-900">
            <p>
              {firstTestimonial?.fields.testimony}
            </p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <div class="text-base">
              <div class="font-semibold text-primary">
                {firstTestimonial?.fields.name}
              </div>
              <div class="mt-1 text-gray-500">
                {firstTestimonial?.fields.jobTitle}
              </div>
            </div>
          </figcaption>
        </figure>
      </div>

      <div
        class="flex flex-col border-t border-gray-900/10 pt-10 sm:pt-16 lg:border-l lg:border-t-0 lg:pl-8 lg:pt-0 xl:pl-20"
      >
        <img
          class="h-28 self-start"
          src={secondTestimonial?.fields.image?.fields.file?.url}
          alt=""
        />
        <figure class="mt-10 flex flex-auto flex-col justify-between">
          <blockquote class="text-lg/8 text-gray-900">
            <p>{secondTestimonial?.fields.testimony}</p>
          </blockquote>
          <figcaption class="mt-10 flex items-center gap-x-6">
            <div class="text-base">
              <div class="font-semibold text-primary">
                {secondTestimonial?.fields.name}
              </div>
              <div class="mt-1 text-gray-500">
                {secondTestimonial?.fields.jobTitle}
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
